/* utils */
:root {
  --pry-color: #ffa500;
  --sec-color: #02073e;
  --white: #ffffff;
  --topBg: #f6f8fb80;

  --w1: 400;
  --w2: 700;
  --family: "DM Sans";
}

body {
  background-color: var(--topBg);
}

.sideNav {
  z-index: 2;
}
/* main */
main {
  width: 90%;
  margin: 0px auto;
}
.hero-back {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#back {
  height: 40px;
  width: 80px;
  background: transparent url(../chatFlow3/assets/Vectorback\ arrow.png)
    no-repeat center;
  background-size: 40%;
  position: unset;
  cursor: pointer;
  z-index: 1;
  border: none;
}

h1 {
  color: var(--pry-color);
  text-align: center;
  font-family: var(--family);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.5px;
  margin: 0;
}

.ellipses {
  margin-bottom: 68px;
}

.first {
  width: 62px;
  height: 16px;
  margin-bottom: 10px;
}

.sec {
  width: 85px;
  height: 16px;
  margin-bottom: 10px;
}

.third {
  height: 16px;
  width: 109px;
  border-radius: 0px;
  margin-bottom: 10px;
}

.ellipses img {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* chat section  */

section {
  margin-top: 10px;
}

section img {
  width: 45px;
  height: 45px;
  transform: translateY(-15px);
}
.intro {
  display: flex;
}

.intro img {
  margin: 15px 15px 0 0;
  transform: translateY(0);
}
.greet p {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 15px 0;
}
.greet h4 {
  margin: 0;
  background-color: var(--pry-color);
  color: var(--white);
  font-size: 18px;
  padding: 5px 0;
  border-radius: 42px;
  position: relative;
  text-align: center;
  width: 197.47px;
  font-weight: 500;
}
.greet h4::after {
  content: "";
  height: 20px;
  width: 18px;
  background-color: var(--pry-color);
  left: -10px;
  top: 0px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(294deg);
  position: absolute;
}
.greet h5 {
  background-color: var(--pry-color);
  color: var(--white);
  padding: 10px;
  border-radius: 32px;
  font-size: 18px;
  margin: 10px 0 0 0;
  width: 205px;
  font-weight: 500;
}

/* note */
.note {
  background-color: getColor(white);
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 36px 0;
  padding: 0 8px;
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.3);
  color: var(--pry-color);
  height: 82px;
  border-radius: 4px;
}

.note p:first-child {
  margin-right: 5px;
}

/* answer chat */
.answer-chat {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.answer-chat img {
  margin: 0 0 0 15px;
}

.typo {
  margin-left: auto;
}

.typo p {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.typo h3 {
  margin: 0;
  background-color: var(--pry-color);
  color: var(--white);
  font-size: 18px;
  padding: 6px;
  border-radius: 42px;
  position: relative;
  width: 197.47px;
  font-weight: 500;
}
.typo h3::after {
  content: "";
  height: 20px;
  width: 20px;
  background-color: var(--pry-color);
  right: -5px;
  top: -2px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(288deg);
  position: absolute;
}

/* counsellor chat */
.counsellor-chat {
  display: flex;
  margin: 40px 0;
}

.counsellor-chat img {
  transform: translateY(-20px);
  margin: 0 10px 0 0;
}

.chats p {
  border-radius: 32px;
  font-size: 18px;
  background-color: var(--pry-color);
  color: var(--white);
  margin: 10px 0;
  padding: 10px;
  width: 230px;
  font-weight: 500;
}

.chats p:first-child {
  margin-top: 0;
  position: relative;
}

.chats p:first-child::after {
  content: "";
  height: 20px;
  width: 18px;
  background-color: var(--pry-color);
  left: -6px;
  top: 0px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(294deg);
  position: absolute;
}

/* article */
article {
  border-radius: 4px;
  background-color: var(--white);
  text-align: center;
  margin: 30px auto;
  box-shadow: 8px 6px 20px rgb(223, 222, 222);
  margin-bottom: 54px;
}
article p {
  color: var(--pry-color);
  padding: 10px;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
article p:last-child {
  background-color: var(--pry-color);
  color: var(--white);
  border-radius: 0 0 4px 4px;
}

/* last comment */
.last-comment {
  margin: 20px 0 30px 0;
  display: flex;
}

.last-comment img {
  margin: 0 15px 0 0;
}
.last-comment p {
  margin: 10px 0 0 0;
  background-color: var(--pry-color);
  color: var(--white);
  font-size: 18px;
  padding: 5px 0;
  border-radius: 42px;
  position: relative;
  text-align: center;
  width: 197.47px;
  font-weight: 500;
}

.last-comment p::after {
  content: "";
  height: 20px;
  width: 18px;
  background-color: var(--pry-color);
  left: -8px;
  top: 0px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(294deg);
  position: absolute;
}
/* endchat */

#end-chat {
  width: 30%;
  margin: 20px auto;
  color: var(--pry-color);
  padding: 12px 10px;
  border-radius: 20px;
  border: 2px solid var(--pry-color);
  text-align: center;
  font-weight: var(--w2);
}
/* reply button */
.input-reply {
  position: relative;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid var(--pry-color);
}
input:focus {
  outline: 2px solid var(--pry-color);
}

.input-reply button {
  background-color: var(--pry-color);
  display: flex;
  align-items: center;
  color: var(--white);
  border: none;
  width: 30%;
  padding: 11px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
}

.input-reply button img {
  width: 20px;
  height: 20px;
  transform: translateY(0);
}

.input-reply button p {
  margin: 0 0 0 8px;
}

/* popUp */

.chatpopup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
}

.pop_content {
  background: #e5e5e5;
  border-radius: 30px;
  width: 80%;
  padding: 10px;
}

.pop_content p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 500;
}

.popupBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
}
.popupBtn button {
  display: block;
  width: 30%;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#yes {
  background-color: var(--pry-color);
  color: var(--white);
  border: none;
}
#no {
  background-color: transparent;
  color: var(--pry-color);
  border: 2px solid var(--pry-color);
}
/* foot-nav */
.foot-nav {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  /* main */

  main {
    width: 88%;
    padding: 60px 40px;
  }
  .hero-back {
    width: 70%;
    justify-content: space-between;
  }
  #back {
    height: 60px;
    width: 80px;

    background-size: 50%;
  }

  h1 {
    font-size: 64px;
  }

  section img {
    width: 64px;
    height: 64px;
  }

  .greet h4 {
    padding: 16px;
    height: 77px;
    width: 338px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.5 px;
    text-align: left;
  }

  .greet h4::after {
    height: 30px;
    width: 25px;
    left: -8px;
    transform: rotate(300deg);
  }

  .greet h5 {
    padding: 16px;
    height: 77px;
    width: 338px;
  }

  .note {
    width: 536px;
    margin: 36px 0;
  }
  .note p {
    font-size: 20px;
  }
  .typo h3 {
    padding: 16px;
    height: 57px;
    width: 338px;
    font-size: 20px;
    font-weight: 500;
  }
  .typo h3::after {
    height: 30px;
    width: 24px;
    right: -5px;
    transform: rotate(300deg);
  }
  .chats p {
    height: 77px;
    width: 338px;
    padding: 16px;
  }
  article {
    width: 536px;
    margin: 30px 0 54px 0;
  }
  .last-comment p {
    height: 77px;
    width: 338px;
    padding: 16px;
  }

  .last-comment p::after {
    left: -8px;
    height: 30px;
    width: 24px;
    transform: rotate(300deg);
  }

  #end-chat {
    margin: 50px auto;
    height: 91px;
    width: 158px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 70px;
  }

  .input-reply {
    position: unset;
    display: flex;
  }

  input {
    display: block;
    margin-right: 5px;
    padding: 18px 12px;
  }
  .input-reply button {
    border: none;
    width: 15%;
    padding: 16px;
    position: unset;
    font-size: 18px;
    border-radius: 10px;
  }
  .input-reply button img {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  .input-reply button p {
    margin: 0 0 0 10px;
  }

  .pop_content {
    background: #e5e5e5;
    border-radius: 30px;
    width: 30%;
    padding: 10px;
  }
}
