.hero {
  width: 100%;
  height: 180px;
  background: rgba(0, 0, 0, 0.08) url(../assets/blog\ bg.webp) no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;
  padding-top: 40px;
}

.hero h1 {
  margin: 0;
  font-size: 2rem;
  color: #ffa500;
}

.hero h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-top: -2px;
}

/* pics */
.pics {
  width: 90%;
  margin: 100px auto;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: auto;
}

/* mem-card */
.mem_card .top {
  width: 100%;
  height: 250px;
  
}
.mem_card img {
  width: 100%;
  height: 100%;
  margin: auto;
  
}
.mem_card__info {
  background-color: #ffa500;
  /* color: #fff; */
  margin-top: 0px;
  padding: 12px 16px;
}
.mem_card__info h3, .mem_card__info p{
  margin: 5px 0;
  color: #0F2137;
}
.mem_card__info p{
  color:#0F2137 ;
  opacity: 0.6;
  margin-bottom: 10px;
}


.supporters {
  transform: none;
  margin: 60px auto;
}

/* media query */
@media screen and (min-width: 1024px) {
  .hero {
    height: 400px;
    padding-top: 120px;
  }

  .hero h1 {
    font-size: 3rem;
  }
  .hero h3 {
    font-size: 2rem;
    color: #fff;
    margin-top: -2px;
  }

  .pics {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 80%;
    column-gap: 10px;
  }
}
