
/* utils */
:root {
  --pry-color: #ffa500;
  --sec-color: #02073e;
  --white: #ffffff;
  --topBg: #f6f8fb80;

  --w1: 400;
  --w2: 700;
  --family: "DM Sans";
}

body{
   background-color: var(--topBg);
}

/* main */
main {
  width: 90%;
  margin: 0px auto;
  
}

#back {
  height: 40px;
  width: 80px;
  background: transparent url(./assets/Vectorback\ arrow.png) no-repeat center;
  background-size: 40%;
  display: block;
  border: none;
  cursor: pointer;
  float: left;
  transform: translateY(20px);
  z-index: 1;
}

h1 {
  color: var(--pry-color);
  text-align: center;
  font-family: var(--family);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.5px;
}

.ellipses {
  margin-bottom: 68px;
}

.first {
  width: 62px;
  height: 16px;
  margin-bottom: 10px;
}

.sec {
  width: 85px;
  height: 16px;
  margin-bottom: 10px;
}

.third {
  height: 16px;
  width: 109px;
  border-radius: 0px;
  margin-bottom: 10px;
}

.ellipses img {
  width: 100%;
  height: 100%;
  margin: auto;
}

/* article */
article {
  background-color: var(--white);
  padding: 10px;
  width: auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  box-shadow: 8px 6px 20px rgb(223, 222, 222);
  margin-bottom: 54px;
}
article h4 {
  color: var(--pry-color);
  text-align: center;
}

/* c-group */

section h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
}
.group {
  margin-bottom: 45px;
  box-shadow: 8px 6px 20px rgb(223, 222, 222);
  border-radius: 10px;
  padding-bottom: 10px;
}
.group img {
  width: 100%;
  margin: auto;
  height: 100%;
}

.c-detail h4 {
  margin: 0;
  color: var(--pry-color);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
}
.c-detail p {
  color: var(--sec-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0;
}
.about p {
  width: 90%;
  margin: 0px auto;
}

.c-detail button {
  display: block;
  width: 70%;
  margin: 10px auto;
  background-color: var(--pry-color);
  color: var(--white);
  border: none;
  padding: 10px 30px;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
 


  /* main */

  main {
    width: 88%;
    padding: 60px 40px;
  }

  #back {
    height: 60px;
    width: 80px;
    transform: translateY(60px);
    background-size: 50%;
  }

  h1 {
    font-size: 72px;
  }
  /* article */
  article {
    height: 146px;
    width: 536px;
    padding: 20px 40px;
  }
  article h4 {
    font-size: 24px;
    font-weight: 700;
  }

  /* c-group */

  section h3 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 38px;
  }

  .group {
    display: flex;
    height: 251px;
    width: 950px;
    padding-bottom: 0;
  }
  .group img {
    height: 251px;
    width: 256px;
    margin-right: 50px;
    float: left;
    margin-left: 0;
  }
  .c-detail {
    padding: 20px 20px 0 0;
  }

  .c-detail h4 {
    font-size: 20px;
    text-align: left;
    margin-right: 33px;
  }

  .name,
  .about {
    display: flex;
    align-items: flex-start;
  }
  .about p,
  .name p {
    font-size: 18px;
    text-align: left;
    width: 482px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }

  .about p {
    height: 124px;
  }
  .name p {
    margin-left: 40px;
  }

  .c-detail button {
    width: 75%;
    margin: 0px 0 0 122px;
  }

}