/** centered logo */
.about-banner h1 span {
  display: unset !important;
}

.about-banner h1 {
  text-align: center;
}

/** Structuring the layout*/
/**container*/
.con-container {
  width: 80%;
  margin: 0 auto;
}

/**row*/
.content-row {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.content-row h2 {
  text-align: center;
}



.trim-header {
  padding-bottom: 0 !important;
}

/* Design rectangle */
.rectangle {
  max-width: 100%;
  width: 80.1875rem;
  height: 5.8125rem;
  background-color: #fff;
  border-radius: 4.5625rem;
  border: 1px solid aliceblue;
}

/* Tablets*/
@media (min-width: 567px) {
  /* Columns */
  .con-col-6 {
    width: 50%;
    float: left;
  }
  .con-col-40 {
    width: 40%;
    float: left;
  }
  .con-col-60 {
    width: 60%;
    float: left;
  }

  /* Centering the logo for tablets and desktop*/
  .content-row h2 {
    text-align: center;
  }
}

/* Desktop*/
@media screen and (min-width: 1024px) {
  .con-container {
    width: 80%;
    max-width: 100%;
  }
  .about-banner {
    padding-top: 70px !important;
    height: unset !important;
    width: unset !important;
  }
}
