.core-features {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  /* or 222% */

  text-transform: capitalize;

  color: #ffa500;
}

.core-features > span {
  color: #e23a52;
}

.jackpot {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 55px;
  /* identical to box height, or 183% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1.5px;

  color: #0f2137;
}

.message-form {
  padding-top: 7px;
}

.message-form > button {
  margin-bottom: 87px;
  cursor: pointer;
  width: 263px;
  height: 65px;
  background: #ffa500;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  text-align: center;
  color: #ffffff;
  border: none;
}

.message-form > .input-group {
  display: block;
  padding-top: 28px;
}

.message-form > .input-group > label {
  padding-bottom: 20px;
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  color: #0f2137;
}

.message-form > .input-group > input {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 35px;
  width: 100%;
  height: 71px;
  background: rgba(255, 165, 0, 0.5);
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: inset 4px 4px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}
.message-form > .input-group > textarea {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  padding: 99px 0 0 35px;
  margin-bottom: 40px;
  width: 100%;
  height: 243px;
  background: rgba(255, 165, 0, 0.5);
  border: 5px solid #ffffff;
  box-sizing: border-box;
  box-shadow: inset 4px 4px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
}

.contact-left {
  padding-top: 156px;
}

.contact-right {
  background-image: url("../assets/Vector-removebg-preview 1.png");
  background-size: contain;
  margin-top: -1.5rem;
  background-repeat: no-repeat;
}

@media (max-width: 567px) {
  .core-features {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media (min-width: 568px) and (max-width: 768px) {
  .jackpot {
    font-size: 1.2rem;
    background-color: #fff;
  }
}
